<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/manageShop.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type= "text/javascript" src="{{ url_for('static',filename='scripts/manageShop.js') }}"></script>
        <title>
            {% block title %}
                   
            {% endblock %}
        </title>
    </head>
    <body style='background: linear-gradient(164deg, rgb(188, 123, 232) , rgba(246,140,255,1) , rgba(255,222,50,1));' class="search-page-body">
        <div id="myNav" class="overlay">

            <!-- Button to close the overlay navigation -->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        
            <!-- Overlay content -->
            <div class="overlay-content">
                <a href="{{ url_for('searchShop') }}">Home</a>
                <a href="{{ url_for('order_page') }}">My Orders</a>
                <a href="{{ url_for('cart_page') }}">My Cart</a>
                <a href="#">Messages</a>
                <a href="{{ url_for('details_page') }}">Change Details</a>
                <a href="{{url_for('logout_page')}}">Logout</a>
            </div>
  
        </div>
        <div id="navbar">
            <div>
                <button class="open-menu-button" onclick="openNav()">☰ Menu</button>
            </div>
            <div><h2>Maduka.com</h2></div>
            <div>
                <a href="#">Messages</a>
            </div>
            <div class="create-shop-link">
                <a href="{{ url_for('create_shop') }}">Create Shop</a>
            </div>
        </div>
        {% for messages in get_flashed_messages(category_filter=['success']) %}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ messages }}
            </div>
        {% endfor %}
        {% for messages in get_flashed_messages(category_filter=['error']) %}
            <div class="alert" style="background-color: rgb(241, 102, 102);">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ messages }}
            </div>
        {% endfor %}
        {% block body %}
        {% endblock %}
    </body>
</html>