{% extends 'visit_shop/customer_base.html' %}
{% block title %}
    Home
{% endblock %}
{% block body %}
 <div id='change-details-section'>
        <form method="POST" class="form-area">
         {{ detailsForm.hidden_tag() }}
            <div style="margin-bottom: 50px;">
               {{ detailsForm.userName.label(id='details-label') }} <br>
               {{ detailsForm.userName(class='change-details-forms', value=current_user.userName) }}
            </div>
            <div style="margin-bottom: 50px;">
               {{ detailsForm.email.label(id='details-label') }}  <br>
               {{ detailsForm.email(class='change-details-forms', value=current_user.email) }}
            </div>
            <div style="margin-bottom: 50px;">
               {{ detailsForm.phoneNo.label(id='details-label') }}  <br>
               {{ detailsForm.phoneNo(class='change-details-forms', value=current_user.phoneNo) }}
            </div>
            <div> 
               {{ detailsForm.submit1(class='change-details-submit') }}
            </div>
        </form>
        <form method="POST" class="form-area">
           {{ changePasswordForm.hidden_tag() }}
            <div style="margin-bottom: 50px;">
               {{ changePasswordForm.oldPassword.label(id='details-label') }} <br>               
               {{ changePasswordForm.oldPassword(class='change-details-forms') }} <br>
               <b style="color: red; margin-top: -50px">{{ errors['oldPassword'][0] }}</b>               
            </div>
            <div style="margin-bottom: 50px;">
               {{ changePasswordForm.newPassword.label(id='details-label') }}<br>
               {{ changePasswordForm.newPassword(class='change-details-forms') }}</br>
               <b style="color: red;">{{ errors['newPassword'][0] }}
            </div>
            <div style="margin-bottom: 50px;">
               {{ changePasswordForm.confirmPassword.label(id='details-label') }}<br>
               {{ changePasswordForm.confirmPassword(class='change-details-forms') }}</br>
               <b style="color: red; margin-top: -50px">{{ errors['confirmPassword'][0] }}
            </div>
            <div>
                  {{ changePasswordForm.submit2(class='change-details-submit') }}
            </div>
        </form>
     </div>
 </div>
{% endblock %}