{% extends 'manageShop/manage_base.html' %}
{% block title %}
    Home
{% endblock %}
{% block body %}
    <div class = 'products-section'>
        {% for product in products %}
            <a href="{{ url_for('specific_product_page', product_code=product.productCode) }}" class="products-details">
                {% set initial_dir = '../../static/products/' + product.displayPic %}
                <div><img class='product-display-pic' src={{ initial_dir }}></div>
                <div >
                    <p><i>Title</i> {{ product.title }}</p>
                    <p><i>Price</i> {{ product.price }}</p>
                </div>
            </a>
        {%endfor%}       
    </div>
{% endblock %}