{% extends 'market_base.html' %}
{% block title %}
    Home
{% endblock %}
{% block body %}
<div class="market-home-page">
    <div class="category-nav">
        <div><h1>Books</h1></div>
    </div>
    <div class="products-category">
        {% for product in products %}
            <a href="{{ url_for('product_page', product_code = product.code, cart_code='none') }}" class="product-card">
                    <div style="order: 1">
                        <img src="static/{{ product.code }}.png" class="product-img">
                    </div>
                    <div style="order: 2">
                        <p style="font-weight: 900;">{{ product.title }} <br> Price: Ksh {{ product.price }}</p>
                    </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}