{% extends 'market_base.html' %}
{% block title %}
    cart {{ current_user.userName }}
{% endblock %}
{% block body %}
    <div id="cart-page-layout">
        {% for key in products_cart %}
            {% if products_cart[key]|length>0 %}
                {% for product in products_cart[key]  %}
                    <div style="order: 1" id="cart-product-card">
                        <div  style="order: 1">
                            <img src="static/{{ product.code }}.png" class="product-img">
                        </div>
                        <div style="order: 2" id="cart-deatails">
                            <div style="order: 1">
                                <a href="{{ url_for('product_page', product_code=product.code, cart_code='none') }}" style="text-decoration: none;"><h2 id="product-title">{{ product.title }}</h2></a>
                            </div>
                            <div style="order: 3" id='description-content'>
                                <br>
                                <i style="font-size: 1.15em;">Stock: </i>{{ product.numberOfItems }}
                            </div>
                            <div style="order: 4" id='description-content'>
                                <br>
                                <i style="font-size: 1.15em;">Price: </i>@Ksh {{ product.price }}
                            </div>
                            <div class='cart-action-buttons-container' style="order: 5">
                                <div>
                                    <a href="{{ url_for('order_page', cart_code=product.code) }}" class="cart-actions-buttons">Order</a>
                                </div>
                                <div>
                                    <form method="POST, GET" name="{{ product.code }}">
                                        <a href="{{ url_for('cart_page', cart_code=product.code) }}" class="cart-actions-buttons">Delete</a>                                           
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {{ continue }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}