{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block body %}
    <div class="home-page_container">
        <div style="order: 1;">
            <h1 style="color: rgb(236, 232, 232);">CLICK TO ORDER YOUR FAVOURITE BOOKS</h1>
        </div>
        <div style="order: 2">
            <img src="static/logo.png" class="logo">
        </div>
        <div style="order: 3;">
            <h2 style="color: rgb(236, 232, 232);">ALSO AVAILABLE:</h2>
        </div>
        <div style="order: 4;">
            <h3 style="color: rgb(236, 232, 232);">UNIFORMS</h3>
        </div>
        <div style="order: 5;">
            <h3 style="color: rgb(236, 232, 232);">STATIONERY</h3>
            <h3 style="color: rgb(236, 232, 232);">LAB EQUIPMENT</h3>
        </div>
    </div>
    <div class="products">
        <div id="cards" style="order: 1">
            <div class="card-product" style="order: 1">

            </div>
            <div class="card-product" style="order: 2">

            </div>
            <div class="card-product" style="order: 3">

            </div>
        </div>
        <div style="order: 2">
            <h1 style="color: rgb(255, 217, 0);">HIGH QUALITY PRODUCTS AT AFFORDABLE PRICES</h1><br>
            <h2 style="color: rgb(236, 232, 232)">>>>GET ALL YOU NEED FOR SCHOOL IN ONE  ONLINE STORE</h2><br>
            <h2 style="color: rgb(236, 232, 232);">.....DELIVERY IS DONE AT YOUR DOOR STEP OR DIRECTLY TO SCHOOL</h2><br>
        </div>
    </div>
    <div class="footer">
        <div class="footer-details" style="order: 1;">
            <div style="order: 1;">
                <h1 style="color: blue;;">CONTACT US</h1>
                <h3><bold style="font-size: 1.5em; color: rgb(236, 232, 232);">Phone Number:</bold> 0796417598</h3>
                <h3><bold style="font-size: 1.5em; color: rgb(236, 232, 232);">Email:</bold> schoolmarket@gmail.com</h3>
                <h3><bold style="font-size: 1.5em; color: rgb(236, 232, 232);">Office Location:</bold> HALL 6 JKUAT</h3>
            </div>
            <div style="order: 2;">
                <h1 style="color: blue;">PAYMENT METHODS</h1>
                <ul>
                    <li style="font-size: 1.5em; color: rgb(236, 232, 232);">MPESA</li>
                    <li style="font-size: 1.5em; color: rgb(236, 232, 232);">PAYPAL</li>
                    <li style="font-size: 1.5em; color: rgb(236, 232, 232);">KCB</li>
                </ul>
            </div>
        </div>
        <div style="order: 2">
            <img src="static/logo.png" style="width: 200px">
        </div>
        <div style="order: 3">
            <h2 style="color:rgb(255, 217, 0)">School Market; The learner's online store</h2>
        </div>
    </div>

{% endblock %}