<DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
            
            <title>
                {% block title %}
                    
                {% endblock %}
            </title>
        </head>
        <body style='background-color: rgba(29, 28, 28, 0.993);'>
            <nav class='navContainer-not-authenticated'>
                <div>
                    <a href="{{ url_for('home_page') }}" style="text-decoration: none;"><b style="color: rgb(255, 217, 0); font-size: 1.5em; font-weight: 700;">SCHOOL MARKET</b></a>
                </div>
                <div></div>
                <div>
                    <div class="dropdown">
                        <h3 class="dropbtn">Login</h3>
                        <div class="dropdown-content">
                            <a href="{{ url_for('login_page') }}">As Buyer</a>
                            <hr>
                            <a href="{{ url_for('open_shop', cart_code='none') }}">As Shop Owner</a>
                        </div>
                    </div>
                </div>
                <div>
                    <a style="font-weight: 700; margin-right: 5px;" href="{{ url_for('register_page') }}">Register</a>
                </div>
                <div>
                    <a style="font-weight: 700; color: rgb(236, 232, 232)" href="{{ url_for('create_shop') }}">Create Shop</a>
                </div>
            </nav>
        {% for messages in get_flashed_messages(category_filter=['success']) %}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ messages }}
            </div>
        {% endfor %}
        {% for messages in get_flashed_messages(category_filter=['error']) %}
            <div class="alert" style="background-color: rgb(241, 102, 102);">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ messages }}
            </div>
        {% endfor %}
        {% block body %}
        
        {% endblock %}
    </body>
</html>