{% extends 'market_base.html' %}
{% block title %}
    cart {{ current_user.userName }}
{% endblock %}
{% block body %}
    <div id="cart-page-layout">
      {% if products_cart=='empty' %}
        <div style="color: rgb(255, 217, 0); text-align: center;">
          <h1>Your Cart is Empty.</h1>
          <h2>Select a product in the products home page and click 'Add to cart' button</h2>
        </div>
      {% else %}
        {% for key in products_cart %}
            {% if products_cart[key]|length>0 %}
                {% for product in products_cart[key]  %}
                    <div style="order: 1" id="cart-product-card">
                        <div  style="order: 1">
                            <img src="{{ url_for('static', filename=product.code+'.png') }}" class="product-img">
                        </div>
                        <div style="order: 2" id="cart-deatails">
                            <div style="order: 1">
                                <a href="{{ url_for('product_page', product_code=product.code, cart_code='none') }}" style="text-decoration: none;"><h2 id="product-title">{{ product.title }}</h2></a>
                            </div>
                            <div style="order: 3" id='description-content'>
                                <br>
                                <i style="font-size: 1.15em;">Stock: </i>{{ product.numberOfItems }}
                            </div>
                            <div style="order: 4" id='description-content'>
                                <br>
                                <i style="font-size: 1.15em;">Price: </i>@Ksh {{ product.price }}
                            </div>
                            <div class='cart-action-buttons-container' style="order: 5">
                                <div>
                                    <form method="POST, GET" name="{{ product.code }}">
                                        <a href="{{ url_for('cart_page', cart_code=product.code) }}" class="cart-actions-buttons">Deletefrom cart</a>                                           
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {{ continue }}
            {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <style>       
        
        /* The popup form - hidden by default */
        .form-popup {
          display: none;
          position:relative;
          top: 10px;
          right: 15px;
          border: 3px solid #f1f1f1;
          z-index: 9;
        }
        
        /* Add styles to the form container */
        .form-container {
          max-width: 400px;
          padding: 10px;
          background-color: white;
        }
        
        /* Full-width input fields */
        .form-container input[type=text], .form-container input[type=password], .form-container input[type=number] {
          width: 100%;
          padding: 15px;
          margin: 5px 0 22px 0;
          border: none;
          background: #f1f1f1;
        }
        
        /* When the inputs get focus, do something */
        .form-container input[type=text]:focus, .form-container input[type=password]:focus {
          background-color: #ddd;
          outline: none;
        }
        
        /* Set a style for the submit/login button */
        .form-container .btn {
          background-color: rgb(255, 217, 0);
          color: black;
          font-weight: 900;
          padding: 16px 20px;
          border: none;
          cursor: pointer;
          width: 100%;
          margin-bottom:10px;
          opacity: 0.8;
        }
        
        /* Add a red background color to the cancel button */
        .form-container .cancel {
          background-color: red;
        }
        
        /* Add some hover effects to buttons */
        .form-container .btn:hover{
          opacity: 1;
        }
    </style>
    <script>
        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }
        
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
    </script>
{% endblock %}
</html>