<DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
            <title>
                {% block title %}
                    
                {% endblock %}
            </title>
        </head>
        <body>
            <nav class="nav-container-authenticated">
                <div>
                    <a href="{{ url_for('market_page') }}"><h1>SCHOOL MARKET</h1></a>
                </div>
                
                {% if self._TemplateReference__context.name=='details.html' %}
                    <div>
                        <h2>Personal Details</h2>
                    </div>
                {% elif self._TemplateReference__context.name=='orders.html' %}
                    <div>
                        <h2>My Orders</h2>
                    </div>
                {% else %}
                    <div></div>
                
                {% endif %}

                <div class="create-shop-link">
                    <a href="{{ url_for('create_shop') }}">Create Shop</a>
                </div>
                <div class="create-shop-link">
                    <a href="{{ url_for('searchShop') }}">Visit Shop</a>
                </div>
                <div style="margin-left: 40px;">
                    <div class="dropdown">
                        <h3 class="dropbtn" >My Account</h3>
                        <div class="dropdown-content">
                            <a href="{{ url_for('details_page') }}">My Details</a>
                            <a href="{{ url_for('cart_page', cart_code='none') }}">Cart</a>
                            <a href="{{ url_for('order_page', order_code_to_cancel='none', product_code_to_cancel='none') }}">My Orders</a>
                            <hr>
                            <a href="{{ url_for('logout_page') }}">Logout</a>
                        </div>
                    </div>
                </div>
            </nav>
        {% for messages in get_flashed_messages(category_filter=['success']) %}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ messages }}
            </div>
        {% endfor %}
        {% for messages in get_flashed_messages(category_filter=['error']) %}
            <div class="alert" style="background-color: rgb(241, 102, 102);">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ messages }}
            </div>
        {% endfor %}
        {% block body %}
        {% endblock %}